.canvas-container {
  margin: 5% auto;
  height: 60vh;
  width: 90vw;
  outline: black solid 1px;
  display: grid;
  grid-template:
    "canvas" 1fr
    /1fr;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

canvas {
  grid-area: canvas;
}
