@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --canvas-width: 94vw;
  --canvas-height: calc(var(--canvas-width) * 625e-3);

  font-family: Ubuntu, sans-serif;
}

body {
  box-sizing: border-box;
}

.grid-container {
  display: grid;

  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, minmax(min-content 1fr)); */
  grid-template:
    "canvas canvas canvas" 1fr
    "canvas canvas canvas" 1fr
    "footer footer footer" 1fr
    / 1fr 1fr 1fr;
  place-items: center;
  row-gap: 1rem;
}

footer {
  margin: 0.5em;
}

.container > * {
  display: flex;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* text-align: center;   /color: #2c3e50; */
  width: var(--canvas-width);
  height: var(--canvas-height);
  outline: 1px solid black;
  aspect-ratio: 16/10;
  grid-area: canvas;

  /* margin-top: 60px; */
}

#readout-div {
  height: min-content;
  width: max-content;
}

div p {
  font-size: smaller;
  margin: 0.2em auto;
}
