:root {
  --canvas-width: 94vw;
  --canvas-height: calc(var(--canvas-width) * 625e-3);
}

body {
  box-sizing: border-box;
}

.grid-container {
  display: grid;

  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, minmax(min-content 1fr)); */
  grid-template:
    "...... hello readout" min-content
    "canvas canvas canvas" 1fr
    / 1fr 1fr 1fr;
  place-items: center;
  row-gap: 1rem;
}

footer {
  margin: 0.5em;
}

.container > * {
  display: flex;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  /* margin-top: 60px; */
  grid-area: hello;
}

#readout-div {
  height: min-content;
  width: max-content;
  grid-area: readout;
}

footer {
  grid-area: debug;
}

div p {
  font-size: smaller;
  margin: 0.2em auto;
}

#canvas {
  width: var(--canvas-width);
  height: var(--canvas-height);
  outline: 1px solid black;
  aspect-ratio: 16/10;
  grid-area: canvas;
}
