@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --canvas-width: 100vw;
  --canvas-height: calc(var(--canvas-width) * 625e-3);

  font-family: Ubuntu, sans-serif;
}

/* body {
  box-sizing: border-box;
} */

body.grid {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, minmax(min-content 1fr)); */
  grid-template:
    "header header header" 0.2fr
    "canvas canvas canvas" 2fr
    "canvas canvas canvas" 2fr
    "footer footer footer" 1fr
    / 1fr 1fr 1fr;
  row-gap: 0.2ch;
}

header {
  grid-area: header;
}

header > h1 {
  margin: 0.5ch;
}

footer {
  grid-area: footer;
  margin: 0.5em;
}

.container {
  display: grid;
  place-items: center;
}

canvas {
  width: var(--canvas-width);
  height: var(--canvas-height);
  aspect-ratio: 16/10;
  grid-area: canvas;
}

#app {
  outline: 1px solid black;
}

#bg {
  background-color: hsla(0deg 0 0 0%);
}

#readout-div {
  height: min-content;
  width: max-content;
}

div p {
  font-size: smaller;
  margin: 0.2em auto;
}
